user_uuid="9bc78f40-2640-49b5-aa94-9a5769110ffc"
bucket_name="h5n2ej7f07wgiyssjavgcizztyjwmprg"
index_html_filepath = "/workspace/terraform-beginner-bootcamp-2023/public/index.html"
error_html_filepath = "/workspace/terraform-beginner-bootcamp-2023/public/error.html"
content_version = 1