terratowns_endpoint="https://terratowns.cloud/api"
helloeworld = {
  public_path = "/workspace/terraform-beginner-bootcamp-2023/public/helloworld"
  content_version = 1
}
okonomiyaki = {
  public_path = "/workspace/terraform-beginner-bootcamp-2023/public/okonomiyaki"
  content_version = 1 
}